.logements {
    margin: 0px 50px;

    @media screen and (max-width:426px) {
        margin: 0px 20px;
    }

      .container-left-and-right {
        display: flex;
        margin-top: 30px;

        @media  screen and (max-width: 769px) {
            flex-direction: column;
          }

        .container-left {
            display: flex;
            align-items: baseline;
            width: 50%;

            @media  screen and (max-width: 769px) {
              width: 100%;
            }

              .container-title {
                h1 {
                 font-size: 36px;
                 color: $redcolor;

                 @media  screen and (max-width: 769px) {
                  font-size: 18px;
                  line-height: 25px;
                }
                }

                p {
                 font-size: 18px;
                 font-weight: 500;

                 @media  screen and (max-width: 769px) {
                  font-size: 14px;
                  margin-top: 15px;
                  
                }
                }
          }

            .container-tags {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              align-items: flex-start;
              margin-top: 30px;

              @media screen and (max-width: 426px) {
                margin-top: 10px;
              }
          }
      }

        .container-right {
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 30px;
          width: 50%;

          @media  screen and (max-width: 769px) {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 0px;
            justify-content: space-between;
          }

          @media  screen and (max-width: 769px) {
            margin: 10px 0 30px;
          }

          .container-host {
            width: 20%;
            @include center;
            gap: 10px;

            @media screen and (max-width: 426px) {
                width: 35%;
            }

            p {
                text-align: end;
                color: $redcolor;
            }

            img {
                border-radius: 50%;
                width: 65px;

                @media  screen and (max-width: 426px) {
                    width: 40px;
                  }
            }
        }
        
          .container-stars {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: end;

            @media screen and (max-width:769px) {
                justify-content: start;
            }
          }
       }
    }

    .container-collapse {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        margin: 0;

        @media screen and (max-width: 769px) {
            flex-direction: column;
            @include center;
            gap: 0px;
            margin-bottom: 30px;
        }

        .collapse {
            width: 50%;
    

            @media screen and (max-width: 769px) {
                width: 100%;
            }

            &.open { 
                margin-bottom: 150px;
            }

            .collapse-header {
                font-size: 18px;

                @media screen and (max-width: 426px) {
                    font-size: 13px;
                }
            }
        }
    }
}