.home {
    
    .container-title {
        margin-top: 30px;
        text-align: center;
        height: 223px;
        @include center;
        border-radius: 25px;
        background: 
        linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.6)),
        url("./assets/img/background-home-page-kasa.jpg") center/cover no-repeat !important;
        box-shadow: 0px 4px 4px 0px #00000040;
        margin: 0px 50px;

        @media (max-width: 425px) {
            margin: 20px;
           }

    }

    h1 {
        color: #fff;
        font-size: 48px;
        font-weight: 700;
        text-shadow: 0px 2px 3px #00000040;
       -webkit-text-stroke: 1px black;

       @media (max-width: 425px) {
        font-size: 30px;
        text-align: left;
        margin-left: 15px;
       }
    }

    .container-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        background: #F6F6F6;
        border-radius: 25px;
        margin: 50px;
        padding: 30px 0px;

        @media (max-width: 425px) {
            margin: 20px;
           }
    }
}