@font-face {
    font-family: "font1";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

$font1: "font1", sans-serif;
$redcolor: #FF6060;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center; 
 }

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: $font1;
    padding: 30px 50px;
}

li {
    list-style-type: none;
}

