.home {
 
    .container-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        background: #F6F6F6;
        border-radius: 25px;
        margin: 50px;
        padding: 30px 0px;

        @media (max-width: 500px) {
            margin: 20px 20px 0px;
            background: none !important;
           }
    }
}