.navigation {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row ;
    margin: 30px 50px;

    @media (max-width: 426px) {
        margin: 20px;
       }

    ul {
        display: flex;
        flex-direction: row;
        gap: 30px;

        @media (max-width: 426px) {
           gap: 10px;
          }
    }

    .nav-link {
        text-decoration: none;
        color: black;
        padding: 10px;
      
        &.active {
          text-decoration: underline;
        }
      }

    @media screen and (max-width: 500px) {
        img {
            width: 45%;
        }
    }
    @media screen and (max-width: 426px) {
        li {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}