.container-collapse {
   @include center;
   flex-direction: column;
   margin: 20px 5%;

    .collapse {
        margin: 20px 0;
        width: min(1023px, 90vw);
        height: 55px;

        @media screen and (max-width: 425px) {
          margin: 5px 5%;
        }

        &.open { 
          margin-bottom: 100px;

          @media screen and (max-width: 425px) {
            margin-bottom: 130px;
          }
        }
    }
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      background: #FF6060;
      cursor: pointer;
      border-radius: 5px;
      color: #fff;
      font-size: 24px;
      font-weight: 700;

      @media screen and (max-width: 425px) {
        font-size: 13px;
      }
  
      img.arrow {
        transition: transform 0.3s ease;
        width: 24px;
        height: 13px;

        &.open {
          transform: rotate(180deg);
        }

        @media screen and (max-width: 426px) {
           width: 16px;
           height: 9px;
        }
      }
    }
  
    .collapse-content {
      padding: 15px;
      background: #F6F6F6;

      @media screen and (max-width: 425px) {
        font-size: 13px;
      }
    } 
  }