.container-collapse {
   @include center;
   flex-direction: column;
   margin: 20px 0px;
  

    .collapse {
        margin: 20px 0;
        width: 1023px;
        height: 55px;
    }
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      background: #FF6060;
      cursor: pointer;
      border-radius: 5px;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
  
      img.arrow {
        transition: transform 0.3s ease;
        width: 24px;
        height: 13px;
        &.open {
          transform: rotate(180deg);
          
        }
      }
    }
  
    .collapse-content {
      padding: 15px;
      background: #F6F6F6;
    }
  }